Package: meilix-default-settings
Version: 1.0
Architecture: all
Maintainer: meilix <vanhonit@gmail.com>
Installed-Size: 99628
Section: x11
Priority: extra
Homepage: http://mbm.vn
Description: default settings for meilix
 Various system settings tailored for meilix.
