Package: plymouth-meilix-logo
Source: meilix-artwork
Version: 1.0-1
Architecture: all
Maintainer: Mario Behling <mb@mariobehling.de>
Installed-Size: 106
Depends: plymouth, plymouth-label
Section: x11
Priority: extra
Homepage: http://mbm.vn
Description: Plymouth theme meilix.
