#loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../../resources/loading.gif) center no-repeat #fff;
}

/* CSS for the webview element */
webview {
	display: inline-flex;
	width: 100%;
	height: 100%;
}

.hide {
	display: none;
}