Package: SUSI-Desktop
Version: 1.
Section: base
Priority: optional
Architecture: amd64
Installed-Size: SIZE
Depends:electron
Maintainer: xeon zolt <xeon.harsh@gmail.com>
Description: SUSI desktop app based on electron.
  debian package
