Source: meilix-artwork
Section: x11
Priority: extra
Maintainer: Mario Behling <mb@mariobehling.de>
Build-Depends: debhelper (>= 8.0.0), python(>=2.6)
Standards-Version: 3.9.2
Homepage: http://mbm.vn

Package: plymouth-meilix-logo
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, plymouth, plymouth-label
Description: Plymouth theme meilix.

Package: plymouth-meilix-text
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, plymouth, plymouth-label
Description: Plymouth theme meilix.
